#frontlogo {
    background-image: url("../img/logo-slogan.png");
    /* background-image: url(/team-management/img/logo-slogan.png); */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 220px;
    border: 0px;
    box-shadow: 0 0 0 0;
}

footer {
    /* background-image: url("../img/logo-footer.png"); */
    background-image: url("../img/unKonf_logo2.png");
    /* background-image: url("../img/unKonf2.jpg"); */
    /* background-image: url(/team-management/img/logo-footer.png); */
    background-repeat: no-repeat;
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

footer .footline {
    font-size: 16px;
    color: #262626;
    padding-left: 80px;
    padding-top: 4px;
}